html,
body {
    padding: 0;
    margin: 0;

    font-family: Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
        Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}
